body {
    height: 100vh;
}

nav{
    background-color: chartreuse;
    height: 9vh;
    color: purple;
    text-align: center;
    font-size: 1.5em;
}

main{
    height: 75vh;
    display: flex;
}

footer{
    background-color: chartreuse;
    height: 9vh;
    color: purple;
    text-align: center;
    font-size: 1.5em;
}

.row{
    display: flex;
    /* margin: 0 auto; */
    justify-content: center;
}

.square{
    border: 1px solid black;
    height: 24vh;
    width: 24vw;
    /* margin: 0; */
    text-align: center;
    font-size: 3.5em;
}

.board{
    background-color: crimson;
    width: 75vw;
    /* margin: 0 auto; */
}

.scoreboard{
    background-color: darksalmon;
    width: 25vw;
}

.orange{
    background-color: orange;
}

.blue {
    background-color: blue;
}

.purple {
    background-color: purple;
}